---
http_interactions:
- request:
    method: get
    uri: http://ftp.ruby-lang.org/?list-type=2&max-keys=1000&prefix=&start-after=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - NT21AXQ2VYFBE80Y
      X-Amz-Bucket-Region:
      - us-east-1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>ftp.r-l.o</Name><Prefix></Prefix><StartAfter></StartAfter><NextContinuationToken>1efGeXMJAGyjlLmDtjIutARaFigXEg0+2dHXqyWjwNgNOJXLdsFyKmYxChDCCYGWMwVz/4aAtrzY=</NextContinuationToken><KeyCount>1000</KeyCount><MaxKeys>1000</MaxKeys><IsTruncated>true</IsTruncated><Contents><Key>pub/media/</Key><LastModified>2019-04-20T09:09:12.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>pub/media/irb-reline-screenshot.png</Key><LastModified>2019-12-21T19:25:35.000Z</LastModified><ETag>&quot;a0dd883ea8bcf34f83169cff28154d2f&quot;</ETag><Size>82674</Size><StorageClass>INTELLIGENT_TIERING</StorageClass></Contents><Contents><Key>pub/media/irb-reline-screenshot3.png</Key><LastModified>2019-12-25T10:27:18.000Z</LastModified><ETag>&quot;a0dd883ea8bcf34f83169cff28154d2f&quot;</ETag><Size>82674</Size><StorageClass>STANDARD</StorageClass><[...]
