---
http_interactions:
- request:
    method: get
    uri: http://ftp.ruby-lang.org/?list-type=2&max-keys=5&prefix=&start-after=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - E6FEQHB67X37W5FW
      X-Amz-Bucket-Region:
      - us-east-1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>ftp.r-l.o</Name><Prefix></Prefix><StartAfter></StartAfter><NextContinuationToken>14cU2WjO0BV8/DgWnT/cXzAuYC3+VTw6no1euzsqjuXlYWlIU1ZcE+nYa7tOSnjEJ</NextContinuationToken><KeyCount>5</KeyCount><MaxKeys>5</MaxKeys><IsTruncated>true</IsTruncated><Contents><Key>pub/media/</Key><LastModified>2019-04-20T09:09:12.000Z</LastModified><ETag>&quot;d41d8cd98f00b204e9800998ecf8427e&quot;</ETag><Size>0</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>pub/media/irb-reline-screenshot.png</Key><LastModified>2019-12-21T19:25:35.000Z</LastModified><ETag>&quot;a0dd883ea8bcf34f83169cff28154d2f&quot;</ETag><Size>82674</Size><StorageClass>INTELLIGENT_TIERING</StorageClass></Contents><Contents><Key>pub/media/irb-reline-screenshot3.png</Key><LastModified>2019-12-25T10:27:18.000Z</LastModified><ETag>&quot;a0dd883ea8bcf34f83169cff28154d2f&quot;</ETag><Size>82674</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>pub/media/irb_improved_with_key_take2.mp4</Key><LastModified>2019-05-30T12:12:29.000Z</LastModified><ETag>&quot;bda66c47db5089d3ad92e5a5e849ec38&quot;</ETag><Size>1042227</Size><StorageClass>INTELLIGENT_TIERING</StorageClass></Contents><Contents><Key>pub/media/irb_improved_with_key_take3.mp4</Key><LastModified>2019-12-25T11:36:22.000Z</LastModified><ETag>&quot;52c08c573b727050354bdbee24df0247&quot;</ETag><Size>817954</Size><StorageClass>INTELLIGENT_TIERING</StorageClass></Contents></ListBucketResult>
  recorded_at: Mon, 22 Apr 2024 11:56:57 GMT
- request:
    method: get
    uri: http://ftp.ruby-lang.org/?list-type=2&max-keys=5&prefix=&start-after=pub/media/irb_improved_with_key_take3.mp4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - AJY6FMV9MX1HFEPT
      X-Amz-Bucket-Region:
      - us-east-1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" en[...]
