---
http_interactions:
- request:
    method: get
    uri: http://ftp.ruby-lang.org/?list-type=2&max-keys=1000&prefix=xyz&start-after=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - RPZNKKYGKQKE8YR3
      X-Amz-Bucket-Region:
      - us-east-1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>ftp.r-l.o</Name><Prefix>xyz</Prefix><StartAfter></StartAfter><KeyCount>0</KeyCount><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated></ListBucketResult>
  recorded_at: Mon, 22 Apr 2024 12:08:56 GMT
recorded_with: VCR 6.2.0
