---
http_interactions:
- request:
    method: get
    uri: http://ftp.ruby-lang.org/?list-type=2&max-keys=1000&prefix=pub/ruby/binaries&start-after=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amz-Request-Id:
      - H49EFG9594WFT60A
      X-Amz-Bucket-Region:
      - us-east-1
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <ListBucketResult xmlns="http://s3.amazonaws.com/doc/2006-03-01/"><Name>ftp.r-l.o</Name><Prefix>pub/ruby/binaries</Prefix><StartAfter></StartAfter><KeyCount>588</KeyCount><MaxKeys>1000</MaxKeys><IsTruncated>false</IsTruncated><Contents><Key>pub/ruby/binaries/cygwin/1.6/ext/HEAD.html</Key><LastModified>2015-07-25T02:01:22.000Z</LastModified><ETag>&quot;8b48c0b5646c8ab3f9cd059fdb2c243a&quot;</ETag><Size>110</Size><StorageClass>STANDARD</StorageClass></Contents><Contents><Key>pub/ruby/binaries/cygwin/1.6/ext/amrita-1.0.2-i386-cygwin.tar.bz2</Key><LastModified>2015-07-25T02:01:23.000Z</LastModified><ETag>&quot;da4bfd462c557210ae2669223a136c9b&quot;</ETag><Size>137732</Size><StorageClass>INTELLIGENT_TIERING</StorageClass></Contents><Contents><Key>pub/ruby/binaries/cygwin/1.6/ext/amrita-1.0.2-i386-cygwin.tar.gz</Key><LastModified>2015-07-25T02:01:22.000Z</LastModified><ETag>&quot;0ed21f699458f94155deec0607d4ff9b&quot;</ET[...]
